html {
  font-size: 10px;
  background-color: #ffc8c1;
  max-width: 100%;
  height: auto;
}

body,
html {
  text-align: center;
  margin: 0;
}

.main-img {
  background-image: url("photo.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 30vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50em;
  height: auto;
}

.keys {
  /* display: flex; */
  background-color: #bdcf81;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}

.key {
  border: 0.4rem solid black;
  border-color: #bdcf81;
  border-radius: 0.2rem;
  margin: 1rem;
  font-size: 1.1rem;
  padding: 1rem 0.5rem;
  transition: all 0.09s ease;
  width: 8rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0.2rem 0.2rem 0.9rem black;
  border-radius: 1em;
}

.playing {
  transform: scale(1.2);
  border-color: #d1ed75;
  box-shadow: 0 0 1rem #d1ed75;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #c3db70;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
